In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import folium
import branca.colormap as cm
import pyproj

In [2]:
districtdata = pd.read_csv('https://api.covid19india.org/csv/latest/district_wise.csv')

In [3]:
df1 = gpd.read_file('Y:/Downloads/covid/India__Districts_Boundary-shp/c44c9b96-f570-4ee3-97f1-ebad64efa4c2202044-1-1rb4x6s.8xx6.shp')
df1.head()

,objectid,statecode,statename,state_ut,distcode,distname,st_area(sh,st_length(,countrynam,geometry
0,1,27,MAHARASHTRA,STATE,499,Jalgaon,1.353967e+10,8.464308e+05,India,"POLYGON ((75.23335 21.41481, 75.23469 21.41453..."
1,2,27,MAHARASHTRA,STATE,516,Nashik,1.771358e+10,9.720056e+05,India,"POLYGON ((74.13013 20.86311, 74.13215 20.86160..."
2,3,27,MAHARASHTRA,STATE,509,Chandrapur,1.294532e+10,7.410244e+05,India,"POLYGON ((79.75755 20.73462, 79.76047 20.73463..."
3,4,27,MAHARASHTRA,STATE,510,Yavatmal,1.547940e+10,1.014942e+06,India,"POLYGON ((78.26132 20.69735, 78.26276 20.69717..."
4,5,27,MAHARASHTRA,STATE,511,Nanded,1.186387e+10,1.131732e+06,India,"POLYGON ((78.05387 19.92452, 78.05449 19.92435..."

In [4]:
df2 = gpd.read_file('Y:/Downloads/covid/INDIA_POC-shp/195b8247-e8b7-40a6-9dae-2422350b0db92020329-1-iv55ap.n40re.shp')

In [5]:
zones = pd.read_csv('Zones in india.csv')
zones.head()

   No                  District                        State   Zone
0   1             South Andaman  Andaman and Nicobar Islands    Red
1   2                  Nicobars  Andaman and Nicobar Islands  Green
2   3  North and Middle Andaman  Andaman and Nicobar Islands  Green
3   4                   Kurnool               Andhra Pradesh    Red
4   5                    Guntur               Andhra Pradesh    Red

In [6]:
for i in range(df1.shape[0]): df1['statename'][i] = df1['statename'][i].title()

df1['statename'].replace({'Andaman & Nicobar': 'Andaman and Nicobar Islands', 
                          'Dadra & Nagar Have': 'Dadra and Nagar Haveli and Daman and Diu',
                          'Daman & Diu' : 'Dadra and Nagar Haveli and Daman and Diu',
                          'Jammu & Kashmir' : 'Jammu and Kashmir'}, inplace=True)

C:\Users\yatharth\Anaconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
df1['distname'].replace({'Baramula' : 'Baramulla',
                         'Bandipore' : 'Bandipora',
                         'Badgam' : 'Budgam',
                         'Shupiyan' : 'Shopiyan',
                         'Sahibzada Ajit Singh Nag*' : 'S.A.S. Nagar',
                         'Firozpur': 'Ferozepur',
                         'Lahul & Spiti' : 'Lahaul and Spiti',
                         'Charki Dadri': 'Charkhi Dadri',
                         'Central' : 'Central Delhi',
                         'East' : 'East Delhi',
                         'North' : 'North Delhi', 
                         'South West' : 'South West Delhi', 
                         'South' : 'South Delhi', 
                         'North East' : 'North East Delhi', 
                         'West' : 'West Delhi', 
                         'South East': 'South East Delhi', 
                         'North West' : 'North West Delhi',
                         'Jhunjhunun': 'Jhunjhunu', 
                         'Jalor' : 'Jalore', 
                         'Chittaurgarh' : 'Chittorgarh', 
                         'Dhaulpur': 'Dholpur',
                         'Chota Udaipur': 'Chhota Udaipur', 
                         'Kachchh' : 'Kutch', 
                         'The Dangs' : 'Dang', 
                         'Banas Kantha' : 'Banaskantha', 
                         'Ahmadabad' : 'Ahmedabad', 
                         'Sabar Kantha' : 'Sabarkantha', 
                         'Dohad' : 'Dahod', 
                         'Mahesana' : 'Mehsana', 
                         'Panch Mahals' : 'Panchmahal', 
                         'Faizabad' : 'Ayodhya', 
                         'Kheri' : 'Lakhimpur Kheri', 
                         'Bara Banki': 'Barabanki', 
                         'Mahrajganj' : 'Maharajganj',
                         'Pashchim Champaran': 'West Champaran', 
                         'Kaimur (bhabua)': 'Kaimur', 
                         'Purba Champaran': 'East Champaran',
                         'Purbi Singhbhum': 'East Singhbhum', 
                         'Pashchimi Singhbhum': 'West Singhbhum', 
                         'Saraikela-kharsawan': 'Saraikela-Kharsawan', 
                         'Kodarma': 'Koderma',
                         'Narsimhapur': 'Narsinghpur', 
                         'West Nimar': 'Khargone', 
                         'East Nimar': 'Khandwa',
                         'Janjgir - Champa' : 'Janjgir Champa',
                         'Almora\n': 'Almora',
                         'Garhwal': 'Pauri Garhwal', 
                         'Hardwar': 'Haridwar', 
                         'Darjiling': 'Darjeeling', 
                         'Maldah' : 'Malda', 
                         'North Twenty Four Pargan*' : 'North 24 Parganas', 
                         'Medinipur West' : 'Paschim Medinipur', 
                         'Puruliya': 'Purulia', 
                         'South Twenty Four Pargan*' : 'South 24 Parganas',
                         'North  District': 'North District',
                         'South Salmara Mancachar': 'South Salmara Mankachar',
                         'Anugul': 'Angul', 
                         'Jajapur': 'Jajpur', 
                         'Jagatsinghapur' : 'Jagatsinghpur', 
                         'Baleshwar': 'Balasore', 
                         'Baudh': 'Boudh', 
                         'Debagarh' : 'Deogarh',
                         'Ahmadnagar' : 'Ahmednagar', 
                         'Gondiya' : 'Gondia', 
                         'Bid' : 'Beed', 
                         'Buldana': 'Buldhana',
                         'Jagitial' : 'Jagtial', 
                         'Jayashankar' : 'Jayashankar Bhupalapally', 
                         'Jangoan': 'Jangaon', 
                         'Kumuram Bheem Asifabad' : 'Komaram Bheem',
                         'Y.S.R.': 'Y.S.R. Kadapa', 
                         'Sri Potti Sriramulu Nell*' : 'S.P.S. Nellore',
                         'Bangalore' : 'Bengaluru Urban',
                         'The Nilgiris': 'Nilgiris', 
                         'Kanniyakumari' : 'Kanyakumari',
                         'North  & Middle Andaman': 'North and Middle Andaman',
                         'Dadra & Nagar Haveli': 'Dadra and Nagar Haveli'},inplace = True)

for i in range(df1.shape[0]):
        if df1['statename'][i] == 'Maharashtra' and df1['distname'][i] == 'Raigarh':
            df1['distname'][i] = 'Raigad'            

df1 = df1.rename(columns={'distname': 'District', 'statename': 'State'})

C:\Users\yatharth\Anaconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
def fetchplotdistrict(state):
    print(state)
    print()
    l1 = []
    for i in range(df1.shape[0]):
        if df1['State'][i] == state:
            l1.append(df1['District'][i])
    print(l1)
    
    l2 = []
    print()
    for i in range(zones.shape[0]):
        if zones['State'][i] == state:
            l2.append(zones['District'][i])
    print(l2)        
    print(list(set(l1).difference(set(l2))))
    print(list(set(l2).difference(set(l1))))

In [9]:
fetchplotdistrict('Tamil Nadu')

Tamil Nadu

['Vellore', 'Chennai', 'Kancheepuram', 'Tiruvannamalai', 'Erode', 'Coimbatore', 'Thiruvarur', 'Madurai', 'Theni', 'Thoothukkudi', 'Kanyakumari', 'Perambalur', 'Tiruppur', 'Dharmapuri', 'Salem', 'Tiruchirappalli', 'Thanjavur', 'Karur', 'Tirunelveli', 'Thiruvallur', 'Krishnagiri', 'Nilgiris', 'Namakkal', 'Ariyalur', 'Dindigul', 'Virudhunagar', 'Viluppuram', 'Pudukkottai', 'Sivaganga', 'Nagapattinam', 'Cuddalore', 'Ramanathapuram']

['Chennai', 'Madurai', 'Namakkal', 'Thanjavur', 'Chengalpattu', 'Thiruvallur', 'Tiruppur', 'Rani pet', 'Virudhunagar', 'Thiruvarur', 'Vellore', 'Kancheepuram', 'Theni', 'Tenkasi', 'Nagapattinam', 'Dindigul', 'Viluppuram', 'Coimbatore', 'Cuddalore', 'Salem', 'Karur', 'Thoothukkudi', 'Tiruchirappalli', 'Tirupathur', 'Kanyakumari', 'Tiruvannamalai', 'Ramanathapuram', 'Tirunelveli', 'Nilgiris', 'Sivaganga', 'Perambalur', 'Kallakurichi', 'Ariyalur', 'Erode', 'Pudukkottai', 'Dharmapuri', 'Krishnagiri']
[]
['Kallakurichi', 'Tenkasi', 'Rani pet', 'Chengalpattu', 'Tirupathur']

In [10]:
newdf = df1.merge(districtdata[['State', 'District', 'Confirmed', 'Active', 'Recovered', 'Deceased']], on = ['District', 'State'])
newdf = newdf.merge(zones[['State', 'District', 'Zone']], on = ['District', 'State'])
newdf.head()

,objectid,statecode,State,state_ut,distcode,District,st_area(sh,st_length(,countrynam,geometry,Confirmed,Active,Recovered,Deceased,Zone
0,1,27,Maharashtra,STATE,499,Jalgaon,1.353967e+10,8.464308e+05,India,"POLYGON ((75.23335 21.41481, 75.23469 21.41453...",192,139,29,24,Red
1,2,27,Maharashtra,STATE,516,Nashik,1.771358e+10,9.720056e+05,India,"POLYGON ((74.13013 20.86311, 74.13215 20.86160...",741,604,103,34,Red
2,3,27,Maharashtra,STATE,509,Chandrapur,1.294532e+10,7.410244e+05,India,"POLYGON ((79.75755 20.73462, 79.76047 20.73463...",4,2,2,0,Orange
3,4,27,Maharashtra,STATE,510,Yavatmal,1.547940e+10,1.014942e+06,India,"POLYGON ((78.26132 20.69735, 78.26276 20.69717...",98,49,49,0,Red
4,5,27,Maharashtra,STATE,511,Nanded,1.186387e+10,1.131732e+06,India,"POLYGON ((78.05387 19.92452, 78.05449 19.92435...",46,42,0,4,Orange

In [11]:
l1 = newdf['District']
l2 = zones['District']
(list(set(l1).difference(set(l2))))

[]

In [12]:
import json
from bokeh.io import show
from bokeh.io import output_file, save
from bokeh.models import (CDSView, ColorBar, ColumnDataSource,
                          CustomJS, CustomJSFilter, 
                          GeoJSONDataSource, HoverTool,
                          CategoricalColorMapper, LinearColorMapper, Slider)
from bokeh.layouts import column, row, widgetbox
from bokeh.plotting import figure

In [13]:
geosource = GeoJSONDataSource(geojson = newdf.to_json())

In [14]:
# Define color palettes
palette = ['red', 'orange', 'green']

# reverse order of colors so higher values have darker colors
# palette = palette[::-1] 

# Instantiate LinearColorMapper that linearly maps numbers in a range, into a sequence of colors.
color_mapper = CategoricalColorMapper(palette = palette, factors = ['Red', 'Orange', 'Green'])

In [15]:
# Create figure object.
p = figure(title = 'Red, Green and Orange zones of Covid19: District-wise distribution',
           plot_height = 700 ,
           plot_width = 650, 
           toolbar_location = 'right',
           tools = "pan, wheel_zoom, box_zoom, reset")
p.title.text_font_size = '12pt'
p.title.align = 'center'

p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None

# p.xaxis.visible = False
# p.yaxis.visible = False

# Add patch renderer to figure.
states = p.patches('xs','ys', source = geosource,
                   fill_color = {'field' :'Zone',
                                 'transform' : color_mapper},
                   line_color = 'black',
                   line_width = 0.25, 
                   fill_alpha = 1)
# Create hover tool
p.add_tools(HoverTool(renderers = [states],
                      tooltips = [('District','@District'),
                                  ('Zone','@Zone'),
                                  ('Confirmed','@Confirmed'),
                                  ('Active','@Active'),
                                  ('Recovered','@Recovered'),
                                  ('Deaths','@Deceased')
                                 ]))

output_file('plot.html', mode='inline')
save(p)

'Y:\\Downloads\\Jupyter Notebook for Covid\\plot.html'

In [16]:
show(p)